.red-background {
    background-color: #FF0000;
}

.blue-background {
    background-color: #0000FF;
}

.green-background {
    background-color: #00FF00;
}

.lightGray-background {
    background-color: rgb(211,211,211)	
}
